<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body style="font-family:Verdana;color:grey;">
	<!-- <div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">Imagination</div> -->
<div class="headw">
  Creator for Future
</div>
<!-- <div style="background-color:#e5e5e5;text-align:left;padding:20px;margin-top:7px;color: red;text-shadow: 2px 2px 5px cyan;">Learn for better future</div> -->

<div style="overflow:auto">
  <div class="menu">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
    <a href="#">Link 4</a>
  </div>

  <div class="main">
    <h2>Man Leo Robo</h2>
    <p>Hello welcome to my learnigs page where u can find my ongoing courses and their status</p>
  </div>

  <div class="right">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
  </div>
</div>
<footer>
<div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">@ copyright manikanta T</div>
</footer>
</body>
</html>
